.results-container {
  background-color: #FFA100;
  color: var(--tg-theme-text-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 480px;
  margin: 0 auto;
}

.results-title {
  color: var(--tg-theme-text-color);
  margin-bottom: 12px;
}

.label {
  margin-bottom: 8px;
  display: block;
  color: var(--tg-theme-text-color);
}

.results-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--tg-theme-bg-color);
  border-radius: 8px;
  box-sizing: border-box;
}

.results-button {
  padding: 10px 15px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.results-button:hover {
  background-color: var(--tg-theme-button-color-hover);
}

.results-content {
  margin-top: 20px;
}

/* Дополнительные стили для кнопок и других элементов Telegram Web App */
.telegram-button {
  background-color: var(--tg-theme-button-color);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
}

.telegram-button:hover {
  opacity: 0.8;
}
